node_modules
.env
/generated/prisma
learning_guide

# Build dosyaları
dist/
# *.js  # GEÇİCİ OLARAK DEVRE DIŞI
*.d.ts
*.js.map
*.d.ts.map

# Ama node_modules içindeki .js dosyalarını ignore etme
!node_modules/**/*.js

